@charset "utf-8";
/* CSS Document */
body {font-family: "Segoe UI","Segoe UI Web","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
background-image:    url(images/bg.jpg);
    background-size:cover;
   height:100%;
   width:100%;
    
}
.top-header {
	display:none;
	width: 100%;
    float: left;
    height: auto;
    position: relative;}
.top-header-section {
    width: 100%;
    position: relative;
    float: left;
    height: auto;}
.top-header-first {
	width: 50%;
    height: 55px;
    float: left;
    position: relative;}
.top-header-first img {
	width: 100%;
    height: 55px;}
.top-header-middle {
	width: 40%;
    height: 55px;
    float: left;
    position: relative;}
.top-header-middle img {
	width: 100%;
    height: 55px;}
.top-header-last {
	width: 10%;
    height: 55px;
    float: left;
    position: relative;}
.top-header-last img {
	width: 100%;
    height: 55px;}
header {}
header .navbar {
    min-height: auto;
    margin-bottom: 0;}
header ul {}
header ul li {}
header ul li a {
	color: #2F2F2F;}
header ul li a:hover {}
.some {
	background:url(bg.jpg) no-repeat right center #01152e;
	padding: 2em 0;
    color: #fff;}
.some-sec {}
.some-sec p {
    margin-bottom: 0;
    font-size: 16px;}
.banner {
	background: #0078d7;
    padding: 10em 0;
    color: #fff;
	margin-bottom: 2em;}
.banner-sec {}
.banner-info {}
.banner-heading {
    font-size: 30px;
    font-weight: 400;}
.banner-sub-heading {
    font-size: 30px;
    font-weight: 400;}
.main-body {}
.main-body-sec {}
.body-nav {
    margin-bottom: 30px;}
ul.body-nav-listing {
	padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;}
ul.body-nav-listing li {
	display: inline-block;}
ul.body-nav-listing li a {
	font-size: 15px;
    display: block;
    padding: 0px 20px;}
ul.body-nav-listing li a:hover {}
.body-content {}
.body-content-heading {
	margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;}
.body-content-info {
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 30px;
	border: 1px solid #fff;
	}
.body-content-info:hover {
	border: 1px solid #ddd;}
.body-content-info figure {}
.body-content-info figure img {
	width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 17px;}
.body-content-info figure figcaption {}
.body-content-info figure figcaption p {}
.body-content-sub-heading {
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 40px;
    font-size: 20px;
    color: #333;}
.body-links {
    padding-bottom: 6em;}
.body-links-sec {}
.body-links-info {}
.body-links-heading {
	font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 400;}
ul.body-links-listing {
	padding-left: 0;
    list-style: none;
    margin-bottom: 0;}
ul.body-links-listing li {
    margin-bottom: 16px;}
ul.body-links-listing li a {
    display: block;
    font-size: 15px;
	color:#0078D7;}
ul.body-links-listing li a:hover {
	text-decoration:none;
	color:#333;}
footer {
    background: #f2f2f2;
    padding-bottom: 4em;
    padding-top: 2em;}
.footer-sec {}
.footer-top {}
.footer-info {}
.footer-heading {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 400;}
ul.footer-top-listing {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;}
ul.footer-top-listing li {
	margin-bottom: 16px;}
ul.footer-top-listing li a {
	display: block;
    font-size: 15px;
    color: #0078D7;}
ul.footer-top-listing li a:hover {}
.footer-bottom {
    padding-top: 4em;}
.footer-bottom-sec {}
.footer-bottom-sec p {}
.footer-bottom-sec p a {
	color: #626262;
	font-size: 12px;}
.footer-bottom-sec p a:hover {}
ul.footer-bottom-listing {
	list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    text-align: right;}
ul.footer-bottom-listing li {
	display: inline-block;}
ul.footer-bottom-listing li a {
    padding-left: 30px;
	color: #626262;
	font-size: 12px;}
ul.footer-bottom-listing li a:hover {}
#content-box {
	background: #555;
	border: 2px solid #fff;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 2px #fff inset;
	bottom: 0;
	position: fixed;
	width: 100%
}
.content-box-area h5 {
	margin-bottom: 15px;
	margin-top: 8px;
	font-size: 16px;
	font-weight: 400
}
.content-box-area h5 span {
	color: #f9ff00;
	font-size: 20px;
	font-weight: 600;
	text-shadow: 0 0 2px #000
}
.content-box-area h4 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 400
}
.content-box-area h4 img {
	margin-right: 13px
}
.content-box-area p {
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 18px
}
.content-box-heading-section {
	border-bottom: 1px solid #777;
	padding: 15px
}
.content-box-text-section {
	padding: 0 15px
}
.box {
	width: 457px;
	margin: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99;
	padding-left: 17px;
}
.main-box-container {
	background: #FBFBFB;
	color: #000;
	border: 1px solid #BABABA;
	box-shadow: 0 2px 0 rgba(0,0,0,.3);
	border-radius: 3px;
	position: relative;
	font-family: 'Segoe UI'
}
.box-heading a {
	position: absolute;
	right: 7px;
	text-decoration: none;
	font-size: 16px;
	color: #545353
}
.box-heading h1 {
	font-size: 15px;
	font-weight: 400;
	margin: 0 0 5px;
	padding: 5px 10px;
	color: #414141
}
.box-checkbox p, .box-confirm .confirm, .box-container p {
	font-size: 12px;
	color: #414141
}
.box-container {
	height: 390px;
	overflow: auto;
	margin: 0 20px;
	overflow-y: scroll;
	overflow-x: hidden
}
.box-container p {
	margin: 15px 0
}
.box-checkbox {
	margin: 0 10px
}
.box-checkbox label {
	float: left;
}
.box-checkbox .input {
	float: left;
	margin-right: 10px;
	margin-top: 3px
}
.box-checkbox p {
	float: left;
	margin-top: 0;
	margin-bottom: 0
}
.box-confirm {
	float: left;
	display: block;
	width: 100%;
	position: relative
}
.box-confirm .confirm {
	float: right;
	margin-right: 15px;
	padding: 6px 25px;
	text-decoration: none;
	border: 1px solid #3B79ED;
	font-weight: 700;
	margin-top: 20px;
	border-radius: 2px;
	margin-bottom: 20px
}
.clr {
	clear: both
}
#map .my-error{
	
	background:#0321a7; position:fixed; height:100%; width:100%; z-index:100000000000;cursor:none; color:#fff;
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
   padding-top:150px;
}
#map .my-error h1{font-size:60px; margin:0 0 50px; font-weight:normal;}
#map .my-error h2{font-size:30px; margin:0 0 50px; font-weight:normal;}
#map .my-error p{font-size:20px; margin:0 0 50px; font-weight:normal;}